%p#notice= notice

%table.table.table-bordered.table-hover
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Active:
  = @user.active
%p
  %b Block:
  = @user.block

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
